{% load filters %}

<script nonce="{{request.csp_nonce}}">

  const SERVER_ID = {{ request.server_id|json_dumps_ensure_ascii|safe }};
  const EVENT_NAMESPACE_KEY = "heidi_tips";
  const TIP_COLLECTION_NAME = "authPage";

  const defaultTipsCollection = {
    authPage: [
      {
        title: "你知道吗？",
        description:
          "你可以从主流云存储服务同步数据，在新文件上传时自动收集待标注内容，并将标注结果回传以训练和持续优化模型。",
        link: {
          label: "了解更多",
          url: "https://labelstud.io/guide/storage",
          params: {
            experiment: "login_revamp",
            treatment: "sync_cloud_data",
          },
        },
      },
      {
        title: "你知道吗？",
        description:
          "Label Studio 还提供企业版，包含更多功能和自动化能力，可在保障高质量的同时更高效地完成标注。",
        link: {
          label: "了解更多",
          url: "https://humansignal.com/goenterprise/",
          params: {
            experiment: "login_revamp",
            treatment: "enterprise_platform",
          },
        },
      },
      {
        title: "你知道吗？",
        description:
          "Label Studio 为多种数据类型提供了数十个预置模板，可用于配置标注界面，覆盖从图像分类、情感分析到监督式 LLM 微调等场景。",
        link: {
          label: "查看全部模板",
          url: "https://labelstud.io/templates",
          params: {
            experiment: "login_revamp",
            treatment: "templates",
          },
        },
      },
      {
        title: "你知道吗？",
        description: "Label Studio 现已提供面向小团队和小型项目优化的 Starter Cloud 版本。",
        link: {
          label: "了解更多",
          url: "https://humansignal.com/pricing/",
          params: {
            experiment: "login_revamp",
            treatment: "starter_cloud"
          }
        }
      },
    ],
  };

  function createURL(url, params) {
    const base = new URL(url);

    Object.entries(params ?? {}).forEach(([key, value]) => {
      base.searchParams.set(key, value);
    });

    if (SERVER_ID) base.searchParams.set("server_id", SERVER_ID);

    return base.toString()
  }

  const loadLiveTipsCollection = () => {
    return defaultTipsCollection;
  };

  function getRandomTip() {
    const tipsCollection = loadLiveTipsCollection();

    if (!tipsCollection[TIP_COLLECTION_NAME]) return null;

    const tips = tipsCollection[TIP_COLLECTION_NAME];

    const index = Math.floor(Math.random() * tips.length);

    return tips[index];
  }

  function getTipCollectionEvent(collection, event) {
    return `${EVENT_NAMESPACE_KEY}.${collection}.${event}`;
  }

  function getTipEvent(collection, tip, event) {
    if (tip.link.params?.experiment && tip.link.params?.treatment) {
      return `${EVENT_NAMESPACE_KEY}.${collection}.${tip.link.params?.experiment}.${tip.link.params?.treatment}.${event}`;
    }
    if (tip.link.params?.experiment) {
      return `${EVENT_NAMESPACE_KEY}.${collection}.${tip.link.params?.experiment}.${event}`;
    }
    if (tip.link.params?.treatment) {
      return `${EVENT_NAMESPACE_KEY}.${collection}.${tip.link.params?.treatment}.${event}`;
    }

    return getTipCollectionEvent(collection, event);
  }

  function getTipMetadata(tip) {
    // Everything except the experiment and treatment params as those are part of the event name
    const { experiment, treatment, ...rest } = tip.link.params ?? {};
    return {
      ...rest,
      content: tip.description ?? tip.content ?? "",
      title: tip.title,
      href: tip.link.url,
      label: tip.link.label,
    };
  }

  document.addEventListener('DOMContentLoaded', function() {
    const _container = document.querySelector('.tips');
    const _title = document.querySelector('.tips .title');
    const _description = document.querySelector('.tips .description');

    const selectedTip = getRandomTip();
    if (!selectedTip) {
      // Remove the tips container if there are no tips to show
      _container.remove();
      return;
    }

    // Add the click handler to all links inside the tips container that have the data-heidi-tip-link attribute
    // In the future if there are more than one tip, we will need to check which tip was clicked
    _container.addEventListener('click', (event) => {
      // If the clicked element is the link, log the click
      if (event.target.hasAttribute('data-heidi-tip-link')) {
        __lsa(getTipEvent(TIP_COLLECTION_NAME, selectedTip, 'click'), getTipMetadata(selectedTip));
      }
    });

    const linkUrl = createURL(selectedTip.link.url, selectedTip.link.params)

    _title.innerHTML = selectedTip.title;
    _description.innerHTML = `${selectedTip.description} <a data-heidi-tip-link href="${linkUrl}" target="_blank">${selectedTip.link.label}</a>`;
  });
</script>

<div class="tips">
  <div class="title"></div>
  <div class="description"></div>
</div>
